@page
<div class="container">
    <div class="row p-1">
        <div class="col-1">From User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">To User</div>
        <div class="col-5"><input type="text" id="toUserInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendToOthersButton" value="Send To Others" />
            <input type="button" id="sendToUserButton" value="Send To User" />
            <input type="button" id="sendBigPayload" value="Get Big Payload" />
            <input type="button" id="compressButton" value="Compress" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <span>time info:</span>
        <span id="timeSpan"></span>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <span>big payload:</span>
            <span id="bigPayloadSpan"></span>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr-protocol-msgpack.js"></script>

<script src="~/js/chat.js"></script>