<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
  <packageSources>
    <add key="Linnworks Nuget Server" value="https://linn-nuget-server.s3.amazonaws.com/index.json" />
  </packageSources>
</configuration>